html{
  scroll-behavior: smooth;
}

.center{
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


h1:before,
h1:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h1:after {
    margin: 0 0 0 20px;
}
.text-overlay {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 75%;
    
    padding: 1%;
}

.titleHeader{
    color: #294361;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;

}
.titleHeader-dark{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    background-color: black;
    color: #fff;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
  }

.p{
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 400px;
    margin-top: 25% ;
}
.p p{

    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}
.betterHelp{
    position: absolute;
    width: 50%;
    height: 450px;
    z-index: -1;
    transform: translateY(-95%) translateX(16%);
    background-color: #5f84a2;

    
}
.show{
    display: block;
}

.better-Container{
    position: relative;
    width: auto;
    height: auto;
    z-index: 0;
    
    transform: translateX(35%);
}
.helpContainer{
    background-color: #dfd3c3;
}



.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
   }
   
   .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
   }
   
   input:checked + .slider::before {
    background-color: var(--primary);
   }
   
   input:checked + .slider {
    background-color: var(--secondary-container);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
   }
   
   input:checked + .slider:before {
    transform: translateX(1.9em);
   }

   .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 250px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: black;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  .insuranceContainer{
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  .insuranceScale{
    transform: translateY(-45%);
  }

  .contactScale{
    transform: translateY(-50%);
  }
  
@media screen and (max-width:844px) {

    .betterHelp{

        width: 35%;
        height: 160px;
        
    }
    .insuranceContainer{
        height: 25vh;
    }
    .insuranceScale{
        scale: 200%;
        transform: translateY(-15%);
    }
    .p{
        width: 70%;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        display: center;
        margin-top: 0px;
    }
    .text-overlay{
    
    
        width: 100%;

        
        
    }
    
}
/* @media screen and (min-width:1400px) {

    .betterHelp{

        height: 575px;
    }
    
} */