.center{
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


h1:before,
h1:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h1:after {
    margin: 0 0 0 20px;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
}

.titleHeader{
    color: #294361;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;

}
.titleHeader-dark{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    background-color: black;
    color: #fff;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
  }

.p{
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 400px;
    margin-top: 25% ;
}
.p p{

    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}
.betterHelp{
    position: absolute;
    width: 50%;
    height: 450px;
    z-index: -1;
    transform: translateY(-95%) translateX(16%);
    background-color: #5f84a2;

    
}
.show{
    display: block;
}

.better-Container{
    position: relative;
    width: auto;
    height: auto;
    z-index: 0;
    padding-top: 25px;
    transform: translateX(35%);
}
.assistanceContainer{
    background-color: #fefcf6;
}
.helpContainer{
    background-color: #dfd3c3;
}
@media screen and (max-width:844px) {

    .betterHelp{

        width: 35%;
        height: 160px;
        
    }
    .p{
        width: 70%;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        display: center;
        margin-top: 0px;
    }
    
}